@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&subset=cyrillic');

$font: 'Poppins', sans-serif;

$backgroundOverlay: #ffffffbf;
$backgroundMenu: #ffa501;
$backgroundMain: #ffffff;

$colorDarkLink: #000000;
$colorLightLink: #2306d6;
$colorText: #000000;
$colorTextMenu: #ffffff;

$colorCircle: #ffa501;
$colorCircleMenu: #000000;
$colorLightLine: #ffa501;
$colorDarkLine: #000000;

$colorBurgerMenu: #151812;

$colorButton: #ffa501;
$colorButtonDisabled: #b9b9b9;

$colorError: rgb(203, 0, 0);
